html,
body {
  font-family: sans-serif;
}

.section {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-bottom: 2px dashed #ccc;
}

header {
  text-align: center;
}

.box {
  grid-area: box;
  width: 150px;
  height: 150px;
  margin: 15px;
  border: 2px solid #333;
}

.button {
  padding: 15px 20px;
  background-color: #545b62;
  border: 0px;
  color: #fff;
  font-size: 1rem;
}

.button-cool {
  padding: 15px 20px;
  background-color: #545b62;
  border: 0px;
  color: #fff;
  font-size: 1rem;
  background-color: #007bff;
}

.button-hot {
  padding: 15px 20px;
  background-color: #545b62;
  border: 0px;
  color: #fff;
  font-size: 1rem;
  background-color: #bd2130;
}

.button:nth-of-type(1) {
  grid-area: btn1;
}

.button:nth-of-type(2) {
  grid-area: btn2;
}

.button:nth-of-type(3) {
  grid-area: btn3;
}

.list {
  grid-area: list;
}

li {
  padding: 5px;
}


.highlight {
  outline: rgba(255, 193, 7, 0.5) solid 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}